@charset "utf-8";
/* CSS Document */


#menus{
	text-align:center;
	font-size:28px;
	float:center;
	background-color:#999;
	font-color:#000;
}




#inputform{
		float:center;	
		font-size:14px;
		position:relative;
		top:30;
		left:60;
	
	
}


